body {
  font-family: 'Pontano Sans', sans-serif;
}

.wrapper {
  height: 100vh;
}

#about {
  min-height: 100%;
  background-image: url("../img/endpos.jpg");
  background-size: cover;
}

#about p {
  position: absolute;
  bottom: 20%;
  color: white;
  font-size: 2em;
}

#footer {
  background-color: white;
  padding: 1.5%;
}

#footer h1 {
  line-height: 0.75%;
}

#footer h3 {
padding-left: 10%;
color: gray;
}

#footer div {
  padding-left: 10%;
}

.image {
  height: 42vh;
}

#room-service {
  background-image: url("../img/port-room-service.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 0.75%;
}

#line-cook {
  background-image: url("../img/port-line-cook.png");
  background-size: cover;
  background-position: center;
  margin-left: 0.75%;
  margin-right: 0.75%;
  margin-bottom: 0.75%;
}

#deviltea {
  background-image: url("../img/port-deviltea.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 0.75%;
}

#survey-gorilla {
  background-image: url("../img/port-gorilla.png");
  background-size: cover;
  margin-right: 0.75%;
}

#galaxy-256 {
  background-image: url("../img/port-256.png");
  background-size: cover;
  background-position: center;
}

.description {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  visibility: hidden;
  left: 0;
}

.website {
  color: #0099CC;
}

.github {
  color: #49E9BD;
}

.description p {
  margin-right: 10%;
  margin-left: 10%;
  font-size: 1.5em;
}

.image:hover .description {
  visibility: visible;
  background: rgba(0,0,0,0.8);
}
